[submodule "ecslite"]
	path = leo/ecslite
	url = https://github.com/Leopotam/ecslite.git
	branch = master
[submodule "bt-tree"]
	path = bt-tree
	url = https://github.com/suilevap/bt-tree.git
	branch = master
[submodule "leo/ecslite"]
	path = leo/ecslite
	url = https://github.com/Leopotam/ecslite.git
