/.vs/
/PavEcsGame/obj/
/PavEcsGame/bin
/PavEcsGame.Components/bin
/PavEcsGame.Components/obj
/PavEcsLiteGame/obj
/PaveEcsGame.Common/bin
/PaveEcsGame.Common/obj
/PavEcsLiteGame/bin
/PavEcsLiteGame/obj
/PavEcsSpec.EcsLite/obj
/PavEcsSpec.EcsLite/bin
/PavEcsGame.Common/bin/
/PavEcsGame.Common/obj/
/PavEcsSpec.Generators/obj/
/PavEcsSpec.Generators/bin/
/PaveEcsSpec.Generators/obj/
/GenerateTest/bin/*
/GenerateTest/obj/*
