/.vs/
/PavEcsGame/obj/
/PavEcsGame/bin
/PavEcsGame.Components/bin
/PavEcsGame.Components/obj
/PavEcsLiteGame/obj
/PaveEcsGame.Common/bin
/PaveEcsGame.Common/obj
/PavEcsLiteGame/bin
/PavEcsLiteGame/obj
/PavEcsSpec.EcsLite/obj
/PavEcsSpec.EcsLite/bin
/PavEcsGame.Common/bin/
/PavEcsGame.Common/obj/
/obj/
/PavEcsSpec.Generators/obj/
/GenerateTest/obj/
/leo/bin/
/leo/ecs-types/*
/leo/obj/
/Tetris/bin/
/Tetris/obj/
